<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683496173603-lsj4d5hhv92f9v1i5hv1o00h8lbk52na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683496173603-lsj4d5hhv92f9v1i5hv1o00h8lbk52na</string>
	<key>API_KEY</key>
	<string>AIzaSyBkesSxpk7H_oyV-IkpR79sbPkSmR6RiCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>683496173603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>smrdel.jt.Morse-Messenger</string>
	<key>PROJECT_ID</key>
	<string>morse-messenger-98879</string>
	<key>STORAGE_BUCKET</key>
	<string>morse-messenger-98879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683496173603:ios:c70ee0f6970650af208196</string>
	<key>DATABASE_URL</key>
	<string>https://morse-messenger-98879-default-rtdb.firebaseio.com</string>
</dict>
</plist>